<div [ngClass]="pageStyles.containerClass">
  <div>
    <h1 [ngClass]="pageStyles.title">BUTTONS</h1>
    <h2 [ngClass]="pageStyles.subTitle">-sample buttons-</h2>
  </div>
  <div [ngClass]="[spacingStyles.defaultGap, spacingStyles.blockSpacing]">
    <button [ngClass]="buttonStyles.primaryButtonClasses">
      Primary Button
    </button>
    <button [ngClass]="buttonStyles.secondaryButtonClasses">
      Secondary Button
    </button>
    <button [ngClass]="buttonStyles.infoButtonClasses">Info Button</button>
    <button [ngClass]="buttonStyles.dangerButtonClasses">Danger Button</button>
  </div>

  <div [ngClass]="[spacingStyles.defaultGap]">
    <app-card [card]="myCard"></app-card>
    <app-card [card]="myCard"></app-card>
    <app-card [card]="myCard"></app-card>
    <app-card [card]="myCard"></app-card>
  </div>
</div>
